<section class="page-header">
  <a href="/"><h1 class="project-name">{{ site.title }}</h1></a>
  <!-- <h2 class="project-tagline">{{ site.tagline }}</h2> -->
  <!-- <a href="http://zaidhuda.com" class="btn">Facebook</a>
  <a href="http://twitter.zaidhuda.com" class="btn">Twitter</a>
  <a href="http://github.zaidhuda.com" class="btn">Github</a> -->
  <a href="/">Home</a>
  &bull;
  <a href="/blog">Blog</a>
  &bull;
  <a href="http://zaidhuda.com/github">Github</a>
  &bull;
  <a href="http://zaidhuda.com/twitter">Twitter</a>
</section>
